/* Ini css */
nav {
        display: flex;
        justify-content: space-between;
    }

nav>section {
        display: flex;
        align-items: center;
    }

.nav-item {
    border: 1px solid black;
    padding: 8px;
    border-radius: 8px;
    color: black;
    text-decoration: none;
}
.section-container {
    background-color: aquamarine;
}

.logo-icon {
    height: 50px;
    width: 50px;
    border-radius: 50%;
    background-image: url(https://i.pinimg.com/236x/3c/fc/d0/3cfcd07b139c669c42e6e49c837c10bb.jpg);
    background-size: contain;
    background-repeat: no-repeat;
}

.banner-container {
    height: 578px;
    border: 1px solid black;
} 

.facility-list {
    display: flex;
    justify-content: space-around;
    border-radius: 50%;
}  

.form-result {
    height: 100px;
    border: 1px solid black;
}

.message-us-section {
    display: flex;
}

.result-container {
    width: 100%;
}

